:root {
  --primary-color: #ffffff;
  --secondary-color: #f3f3f3;
  --button-color1: #c56283;
  --button-color2: #e6aec1;
  --button-color3: #525252;
  --text-color1: #000000;
  --text-color2: #2f4f4f;
  --text-color3: #008000;
  --border: solid 2px #dbdbdb;
  --outline-color: #1495ff;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button,
.header a {
  transition: transform, 0.15s, linear, 0.15s;
}

button:active,
.header a:active {
  transform: scale(0.95);
}
