.cart-page {
  max-width: 1000px;
  margin: 0 auto;
}

.cart,
.empty-cart {
  padding: 35px 35px 50px;
}

.cart > h2,
.empty-cart > h2 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}

.cart-container {
  display: flex;
  gap: 30px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-container {
  border: var(--border);
  border-radius: 10px;
  height: fit-content;
  padding: 25px;
  position: sticky;
  top: 100px;
}

.checkout-total {
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 12px;
  text-align: center;
}

.checkout-total > span {
  color: var(--text-color3);
}

.checkout-btn {
  border: none;
  background-color: var(--button-color1);
  color: var(--primary-color);
  font-weight: 600;
  padding: 10px 60px;
  font-size: 18px;
  border-radius: 10px;
}

.checkout-btn {
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  width: 600px;
}

.empty-cart > h2 {
  border-bottom: var(--border);
}

.empty-cart > p {
  font-size: 20px;
  color: var(--text-color2);
  padding: 40px 0;
}

.empty-cart button {
  border: none;
  background-color: var(--button-color1);
  color: var(--primary-color);
  font-weight: 600;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
}

.empty-cart button:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .cart h2 {
    text-align: center;
  }

  .cart-container {
    flex-direction: column;
    gap: 15px;
  }

  .cart-container > div:first-child {
    order: 2;
  }

  .checkout-container {
    text-align: center;
    background-color: var(--primary-color);
    position: static;
  }
}

@media (max-width: 650px) {
  .empty-cart {
    width: auto;
  }
}

@media (max-width: 440px) {
  .cart {
    padding: 35px 15px 50px;
  }
}
