.cart-item {
  display: flex;
  border: solid 2px #dbdbdb;
  border-radius: 10px;
  max-width: 600px;
}

.cart-item a {
  text-decoration: none;
}

.img-container3 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container3 img {
  width: 130px;
  padding: 10px;
  display: block;
}

.cart-info {
  padding: 20px 20px 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.singular h3 {
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

.singular > p {
  font-size: 17px;
  color: darkslategray;
}

.multiplied {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

.delete-btn:hover {
  cursor: pointer;
  filter: brightness(85%);
}

.delete-btn img {
  width: 23px;
  filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(319deg) brightness(99%) contrast(86%);
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    max-width: 400px;
  }
}

@media (max-width: 440px) {
  .cart-info {
    text-align: center;
  }

  .more-info {
    justify-content: center;
  }

  .price-info {
    flex-direction: column;
    gap: 0px;
  }

  .singular > p {
    display: none;
  }

  .cart-item {
    position: relative;
  }

  .delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
