.cart-page {
  max-width: 1000px;
  margin: 0 auto;
}

.cart,
.empty-cart {
  padding: 35px 0 50px;
}

.cart > h2,
.empty-cart > h2 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}

.cart-container {
  display: flex;
  gap: 30px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-container {
  border: solid 2px #dbdbdb;
  border-radius: 10px;
  height: fit-content;
  padding: 25px;
}

.checkout-total {
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 12px;
  text-align: center;
}

.checkout-total > span {
  color: green;
}

.checkout-btn {
  border: none;
  background-color: #c56283;
  color: white;
  font-weight: 600;
  padding: 10px 60px;
  font-size: 18px;
  border-radius: 5px;
}

.checkout-btn {
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  width: 600px;
}

.empty-cart > h2 {
  border-bottom: solid 2px #dbdbdb;
}

.empty-cart > p {
  font-size: 20px;
  color: darkslategray;
  padding: 40px 0;
}

.empty-cart button {
  border: none;
  background-color: #c56283;
  color: white;
  font-weight: 600;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 5px;
}

.empty-cart button:hover {
  cursor: pointer;
}
