.introduction {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.introduction h1 {
  font-size: 36px;
}

.introduction p {
  font-size: 19px;
  color: var(--text-color2);
}

.introduction a {
  margin-top: 10px;
}

.introduction button {
  border: none;
  background-color: var(--button-color1);
  color: var(--primary-color);
  font-weight: 600;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
}

.introduction button:hover {
  cursor: pointer;
}

.featured {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 40px 0;
  flex-grow: 1;
}

.loading {
  width: 100px;
  animation: animate 1s linear infinite;
  margin-top: 75px;
}

.error {
  font-size: 19px;
  color: var(--text-color2);
  text-align: center;
}

.featured .error {
  padding: 0 20px;
}

.featured h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.featured-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.featured-items a {
  text-decoration: none;
  display: flex;
}

@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
