.introduction {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.introduction h1 {
  font-size: 36px;
}

.introduction p {
  font-size: 19px;
  color: darkslategray;
}

.introduction a {
  margin-top: 10px;
}

.introduction button {
  border: none;
  background-color: #c56283;
  color: white;
  font-weight: 600;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
}

.introduction button:hover {
  cursor: pointer;
}

.featured {
  background-color: #f3f3f3;
  text-align: center;
  padding: 40px 0;
  flex-grow: 1;
}

.featured h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.featured-items {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.featured-items a {
  text-decoration: none;
  display: flex;
}
