.item-page {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.item-info {
  width: 800px;
}

.item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.img-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container2 img {
  width: 200px;
  height: auto;
}

.item-top > div {
  padding: 30px;
}

.main-info {
  min-width: 400px;
  border: var(--border);
  border-radius: 10px;
  height: fit-content;
}

.item-top h2 {
  font-size: 23px;
}

.item-top p {
  font-size: 18px;
  color: var(--text-color2);
  margin-top: 10px;
}

.add-btn {
  border: none;
  background-color: var(--button-color1);
  color: white;
  font-weight: 600;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 10px;
}

.add-btn:hover {
  cursor: pointer;
}

.add-btn:disabled {
  background-color: var(--button-color2);
  cursor: not-allowed;
}

.item-bottom {
  margin-top: 25px;
  padding-top: 20px;
  border-top: var(--border);
}

.item-bottom p {
  font-size: 18px;
  color: var(--text-color2);
  padding: 5px 0 3px;
  overflow-wrap: break-word;
}

.item-bottom p:last-child {
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 730px) {
  .item-info {
    max-width: 800px;
    text-align: center;
  }

  .item-top {
    flex-direction: column;
    gap: 20px;
  }

  .item-top > div:first-child {
    padding: 0 0 20px;
  }

  .main-info {
    min-width: auto;
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .item-info {
    min-width: 270px;
  }

  .item-page {
    padding: 40px 20px;
  }

  .item-top > div:last-child {
    padding: 20px 15px;
  }
}
