.item-page {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.item-info {
  width: 800px;
}

.item-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.img-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-top img {
  width: 200px;
  height: auto;
}

.item-top > div {
  padding: 30px;
}

.main-info {
  min-width: 400px;
  border: solid 2px #dbdbdb;
  border-radius: 10px;
  height: fit-content;
}

.item-top h2 {
  font-size: 23px;
}

.item-top p {
  font-size: 18px;
  color: darkslategray;
  margin-top: 10px;
}

.quantity {
  margin: 15px 0;
}

.increment-btn {
  border: none;
  background-color: #525252;
  color: white;
  width: 24px;
  height: 24px;
  font-size: 22px;
  border-radius: 50px;
  vertical-align: middle;
}

.increment-btn:hover {
  cursor: pointer;
}

.increment-btn img {
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(148deg) brightness(113%) contrast(101%);
  width: 20px;
}

.quantity input {
  border: solid 2px #dbdbdb;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 18px;
  text-align: center;
  width: 100px;
}

.quantity input:focus {
  outline: 1px solid #1495ff;
  box-shadow: 0px 0px 4px #1495ff;
}

.add-btn {
  border: none;
  background-color: #c56283;
  color: white;
  font-weight: 600;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 10px;
}

.add-btn:hover {
  cursor: pointer;
}

.add-btn:disabled {
  background-color: #e6aec1;
  cursor: not-allowed;
}

.item-bottom {
  margin-top: 25px;
  padding-top: 20px;
  border-top: solid 2px #dbdbdb;
}

.item-bottom p {
  font-size: 18px;
  color: darkslategray;
  padding: 5px 0 3px;
  overflow-wrap: break-word;
}

.item-bottom p:last-child {
  font-size: 17px;
  font-weight: 600;
}

@media (max-width: 730px) {
  .item-info {
    max-width: 800px;
    text-align: center;
  }

  .item-top {
    flex-direction: column;
    gap: 20px;
  }

  .item-top > div:first-child {
    padding: 0 0 20px;
  }

  .main-info {
    min-width: auto;
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .item-info {
    min-width: 270px;
  }

  .item-page {
    padding: 40px 20px;
  }

  .item-top > div:last-child {
    padding: 20px 15px;
  }
}
