.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  box-shadow: 0 0 10px rgb(190, 190, 190);
}

.shop-name {
  display: flex;
  align-items: center;
}

.shop-name a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.cart-link {
  position: relative;
}

.cart-link img {
  width: 22px;
  display: block;
}

.cart-link span {
  position: absolute;
  font-size: 12.5px;
  font-weight: 700;
  background-color: #c56283;
  color: white;
  border-radius: 50px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  top: -12px;
  right: -12px;
}

a:hover {
  cursor: pointer;
}
