.header {
  padding: 16px 24px;
  box-shadow: 0 0 10px rgb(190, 190, 190);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.shop-name {
  display: flex;
  align-items: center;
}

.shop-name a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.cart-link {
  position: relative;
}

.cart-link img {
  width: 22px;
  display: block;
}

.cart-link span {
  position: absolute;
  font-size: 12.5px;
  font-weight: 700;
  background-color: #c56283;
  color: white;
  border-radius: 50px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  top: -12px;
  right: -12px;
}

a:hover {
  cursor: pointer;
}

.menu-btn,
.dropdown {
  display: none;
}

@media (max-width: 500px) {
  .nav-items > a:nth-child(1),
  .nav-items > a:nth-child(2) {
    display: none;
  }

  .nav-items {
    gap: 30px;
  }

  .menu-btn {
    display: flex;
    background-color: white;
    border: none;
  }

  .menu-btn:hover {
    cursor: pointer;
  }

  .menu-btn img {
    width: 25px;
  }

  .dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px #e7e7e7;
    margin-top: 20px;
    padding-top: 10px;
  }

  .show {
    display: flex;
  }

  .dropdown a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 340px) {
  .nav-items > a:nth-child(3) {
    display: none;
  }
}
