.shop-item {
  width: 250px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px #c7c7c7;
  overflow: hidden;
}

.shop-item:hover {
  cursor: pointer;
}

.img-container {
  height: 263px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item img {
  width: 160px;
  padding: 10px;
}

.txt-container {
  text-align: left;
  padding: 15px 20px;
  background-color: #f3f3f3;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.txt-container h3 {
  font-size: 18.5px;
}

.txt-container p {
  /* margin-top: 10px; */
  color: darkslategray;
  font-size: 17px;
}
